<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <meta charset="utf-8" />
    <title></title>
</head>
<body ng-app="OwnersEndPetsApp">
    <h1>Hello !</h1>

    <div ng-controller="defaultCtrl">

        
            <ul>
                <li ng-repeat="item in DirModelList" ng-click="getIdUser(item.id)">
                    {{item.UserName}}   {{item.CountPet}} {{item.Owners}} {{item.Id}}
                </li>
            </ul>
                        {{item.UserName}}{{item.CountPet}}{{item.id}}
       

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>

    <script src="Script1.js"></script>
</body>

</html>