<h2>album</h2>
<div>
  <div ng-controller="defaultCtrl">

            
                <div ng-repeat="item in DirModelList">
                  <p> {{item.Owners.year}} pets</p>
                  <div ng-repeat="owner in item.Owners">
                      {{owner.PetName}}
                  </div>
                </div>
               
    </div>


  <!--<div class="content" ng-repeat="album in albums | filter:{userId:userIdd}" ng-click="getIdAlbum(album.id)">
      <a href="#/image/{{album.id}}">{{album.title}}</a>
  </div>-->
</div>
