<h2>Index</h2>
<div>
  
<div ng-controller="defaultCtrl">
 {{messege}}
            <ul>
                <li ng-repeat="item in DirModelList">
                  <a href="#/album/{{item.id}}"> A user {{item.UserName}} have {{item.Owners.length}}</a> 
                  <button ng-click="DelIdUser(item.id)"> 
                    Delete
                  </button>
                </li>
            </ul>  
            <ul>
                <li ng-repeat="item in DirModelList.Owners" >
                  <a href="#/album/{{item.id}}">  {{item.PetName}} </a>
                </li>
            </ul>  
            <button ng-click="DelIdUser(1)"> 
                    Delete
                  </button> 
    </div>



  <!--<div class="content" ng-repeat="user in users" ng-click="getIdUser(user.id)">
    <a href="#/album/{{user.id}}">{{user.id}} <span>{{user.name}}</span></a>
  </div>-->
</div>
